<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/" >
<title>Formulario Clientes</title>

<head th:replace="plantilla/template ::head">
</head>


<body>
    <header th:replace="plantilla/template :: header"></header>
	<br>
	<div class="container">


		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<div class="card-body">
			
					<form th:action="@{/vistas/clientes/save}" th:object="${clientes}" method="POST" autocomplete="off">
						<div class="form-group row">
							<input type="hidden" th:field="*{id}">
							<label class="col-md-2" for="rut">RUT: </label>
							<input type="text" id="rut" name="rut" th:field="*{rut}"
							 class="form-control form-control-sm col-md-6"
							placeholder="Rut del Cliente">
						
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="nombres">Nombres: </label>
							<input type="text" th:field="*{nombres}"  style="text-transform:uppercase;" class="form-control form-control-sm col-md-6"
								id="nombres" placeholder="Nombres del Cliente">
					
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="apellidos">Apellidos: </label>
							<input type="text" th:field="*{apellidos}"  style="text-transform:uppercase;" class="form-control form-control-sm col-md-6"
								id="apellidos" placeholder="Apellidos del Cliente">
						
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="direccion">Direccion: </label>
							<input type="text" th:field="*{direccion}"  style="text-transform:uppercase;" class="form-control form-control-sm col-md-6"
								id="direccion" placeholder="Direccion del Cliente">
						
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="telefono">Telefono: </label>
							<input type="number" th:field="*{telefono}"  style="text-transform:uppercase;" class="form-control form-control-sm col-md-6"
								id="telefono" placeholder="Telefono del Cliente">
						
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="email">Email: </label>
							<input type="email" th:field="*{correo}"  style="text-transform:uppercase;" class="form-control form-control-sm col-md-6"
								id="correo" placeholder="Email del Cliente">
						
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="cargos">Cargo: </label>
							<select th:field="*{cargo.id}" class="form-control form-control-sm col-md-6" id="cargos">
								<option th:each="c:${cargos}" th:value="${c.id}" th:text="${c.cargo}"></option>
							</select>
						
						</div>
						<div class="form-group row">
							<label class="col-md-2" for="cargos">Area: </label>
							<select th:field="*{area.id}" class="form-control form-control-sm col-md-6" id="areas">
								<option th:each="a:${areas}" th:value="${a.id}" th:text="${a.area}"></option>
							</select>
						
						</div>
				</div>

				<div>
					<td>
						<button class="btn btn-success " type="submit"
							style="width: auto;height: auto;">Guardar</button>

					</td>
					<td>
						<a class="btn btn-warning" th:href="@{'/vistas/clientes/'}" th:text="'Volver'"
							style="width: auto;height: auto;float: right;"></a>
					</td>

				</div>


				</form>
			</div>
		</div>


	    <footer th:replace="plantilla/template :: footer"></footer>



</body>

</html>