<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<title>Listado de clientes</title>

<head th:replace="plantilla/template ::head">
</head>

<body>
  <header th:replace="plantilla/template :: header"></header>

  <div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Registrar
      Clientes</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar
      Cargos</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">Registrar
        Areas</button>
        <div class="text-center">Listado de Clientes</div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Cargo</th>
          <th scope="col">Area</th>
          <th scope="col">Beneficiario</th>



        </tr>
      </thead>
      <tbody>
        <tr th:each=" c : ${clientes}">
          <td th:text="${c.id}"></td>
          <td th:text="${c.nombres}"></td>
          <td th:text="${c.apellidos}"></td>
          <td th:text="${c.cargo.cargo}"></td>
          <td th:text="${c.area.prueba}"></td>
          <td th:text="${c.beneficiario}"></td>




        </tr>

      </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro Cargos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form th:action="@{/vistas/clientes/savecargo}" th:object="${cargos}" method="POST">
              <div class="mb-3">
                <input type="hidden" th:field="*{id}">
                <label for="recipient-name" class="col-form-label">Cargo:</label>
                <input type="text" class="form-control" id="cargo" name="cargo" th:field="*{cargo}" autofocus>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro Clientes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form th:action="@{/vistas/clientes/save}" th:object="${cli}" method="POST">
              <div class="mb-3">
                <input type="hidden" th:field="*{id}">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombres:</label>
                <input type="text" class="form-control" id="nombres" name="nombres" th:field="*{nombres}" required>
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Apellidos:</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" th:field="*{apellidos}" required>
              </div>
            
           
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Comentario:</label>
                <input type="text" class="form-control" id="comentarios" name="comentarios" th:field="*{comentarios}">
              </div>
              <div class="mb-3">
                <label class="col-md-2" for="cargos">Cargo: </label>
                <select th:field="*{cargo.id}" class="form-control form-control-sm col-md-6" id="cargos">
                  <option th:each="c:${car}" th:value="${c.id}" th:text="${c.cargo}"></option>
                </select>
              </div>
              <div class="mb-3">
                <label class="col-md-2" for="cargos">Area: </label>
                <select th:field="*{area.id}" class="form-control form-control-sm col-md-6" id="areas">
                  <option th:each="a:${areas}" th:value="${a.id}" th:text="${a.prueba}"></option>
                </select>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro Areas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form th:action="@{/vistas/clientes/savearea}" th:object="${are}" method="POST">
              <div class="mb-3">
                <input type="hidden" th:field="*{id}">
                <label for="recipient-name" class="col-form-label">Areas:</label>
                <input type="text" class="form-control" id="prueba" name="prueba" th:field="*{prueba}" autofocus>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>



  </div>

  <footer th:replace="plantilla/template :: footer"></footer>

</body>